.fullWidth
  min-width 100%
.fullHeight
  min-height 100%

.widMinContent
  width min-content
.widMaxContent
  width max-content

.widh100vw
  width 100vw
.widh6vw
  width 6vw

.height100vh
  height 100vh
.height10vh
 height 10vh
.height15vh
 height 15vh
.height20vh
 height 20vh
.height85vh
 height 85vh
.height90vh
 height 90vh

.wid100
  width 100%
.wid90
  width 90%
.wid80
  width 80%
.wid70
  width 70%
.wid60
  width 60%
.wid50
  width 50%
.wid40
  width 40%
.wid30
  width 30%
.wid20
 width 20%

.height100
  height 100%
.height90
  height 90%
.height80
  height 80%
.height70
  height 70%
.height60
  height 60%
.height50
  height 50%
.height40
  height 40%
.height33
  height 33%
.height67
  height 67%
.height25
  height 25%
.height20
  height 20%
.height15
  height 15%


.maxWid800
  max-width 800px
.maxWid700
  max-width 700px
.maxWid600
  max-width 600px
.maxWid500
  max-width 500px
.maxWid400
  max-width 400px
.maxWid300
  max-width 300px
.maxWid200
  max-width 200px

.minWid700
  min-width 700px
.minWid600
  min-width 600px
.minWid500
  min-width 500px
.minWid400
  min-width 400px
.minWid300
  min-width 300px
.minWid200
  min-width 200px
